* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 0px 100px;
}

.logo {
  width: 85px;
  height: 75px;
}

.nav-items > ul {
  display: flex;

  /* padding: 2px; */
}
.nav-items > ul > li {
  margin: 15px;
  list-style-type: none;
  padding: 10px;
}
.btn-name {
  margin-top: 23px;
  padding: 0px 15px;
  height: 25px;
  cursor: pointer;
}
/* Card Css */
.res-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}
.search {
  padding: 10px;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
}

.search-box {
  padding: 10px;
  height: 35px;
  width: 50%;
  margin: 10px;
  border-radius: 10px;
}

.search-btn {
  padding: 10px;
  height: 35px;
  width: 8%;
  margin: 10px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
.res-card:hover {
  /* background-color: aqua; */
  transform: scale(0.95);
  cursor: pointer;
}
.res-card {
  /* padding: 5px; */
  width: 250px;
  height: 350px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #f0f0f0;
  margin: 5px;
}

.res-logo {
  width: 100%;
  height: 60%;
  border-radius: 20px;
}

.card-details {
  margin-left: 10px;
}
.card-details h2 {
  /* how to limit the amount of characters and put ... at the end */
  /* https://stackoverflow.com/questions/74195319/how-to-limit-the-amount-of-characters-and-put-at-the-end#:~:text=In%20order%20to%20add%20some,you%20defined%20will%20be%20removed.&text=Just%20do%20it%20with%20JS,can%20do%20something%20like%20this. */
  max-width: 25ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.card-details h3 {
  margin-bottom: 5px;
}
.card-details h4 {
  margin-bottom: 5px;
}

.card-details p {
  margin-bottom: 5px;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}
.btn {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(186, 197, 197);
}
